

#sidebarSmall {display: none !important;}

#topnav {display: none !important;}

#topbar {display: none !important;}

/* start css */

.navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link {font-size: 15px;}
.nav-item.active a {color: #294D93 100%}

.text-forget {color: #2c7be5 !important;}
.text-error {font-size: 30px;  font-weight: 300;}
.bg-auth {background-color: #f9fbfd;}
.login-box {padding: 50px; background-color: #ffffff; border: 1px solid #edf2f9; border-radius: 8px; box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);}



.card-listing h5 {font-size: 15px; font-weight: 400; padding: 10px 0;}
.card-listing .btn-transparent {box-shadow: none;}
.card-listing .btn-transparent:focus {box-shadow: none !important;}

.modal-info p {display: flex; align-items: center; height: 100%;}
.modal-card-form .form-group { margin-bottom: 15px;}


/* comman css for all */

.modal-dialog {max-width: 800px;}

.display-show {display: block !important;}
.acord-card {margin-bottom: 0; box-shadow: none !important; border: 0 !important;}
.acord-card .card-body {border: 1px solid #e3ebf6;}

.content-tab {padding: 10px 0;}
.create-topics a.text-link {font-size: 20px; font-weight: 600;  display: inline-block;}


.table-checkbox .custom-control-label::before { content: "\e9d4" !important;font-family: Feather!important; font-weight: 500; font-size: 18px; background-color: transparent; }
.table-checkbox .custom-control-label:after, .table-checkbox .custom-control-label:before {top: -4px !important; transform: translateY(0) !important;background-color: transparent !important;border-color: transparent !important;}
.table-checkbox .custom-control-input:not(:disabled):active~.custom-control-label:before{display: none !important;}
.table-checkbox .custom-control-input:checked~.custom-control-label:after {background-color: transparent;border-color: transparent;content: "\e92d" !important; font-family: Feather!important; font-weight: 500; font-size: 18px; color: #2C7BE5;}
.table-checkbox .custom-control-label { cursor: pointer;}

.icon-content-format {font-size: 40px;}
/* .list-group-flush .list-group-item {border: 0; padding: 10px 0;} */

.new-text-div {position: relative;}
.btn-remove {position: absolute; top: 0; right: 0;}
.btn-remove:focus{box-shadow: none !important;}


.contnet-tab-600 {min-height: 300px;}

/* .thumb-main {display: flex; flex-direction: row; justify-content: space-evenly; padding: 50px 0}
.thumb-main .thumb-box .fe {font-size: 50px; color: #12263f;}
.thumb-main .thumb-box { border: 1px solid #e3ebf6; }
.thumb-main .thumb-box a { justify-content: center; align-items: center; display: flex; flex-direction: column; align-items: center; width: 200px; background-color: #f9fbfd; height: 200px; transition: all 0.3s ease-in-out;}
.thumb-main .thumb-box a:hover {background-color: #e3ebf6; transition: all 0.3s ease-in-out;} 
.thumb-main .thumb-box a p {color: #12263f; font-weight: 500;}
.thumb-main .or-div {display: flex; align-items: center; justify-content: center;}
.thumb-main .or-div span {font-weight: 500; font-size: 20px; color: #12263f;}
.thumb-main .thumb-box-lg a {width: 300px; height: 300px;} */





.main-thumb { padding: 70px 0 50px 0;}
.thumb-box-inner { width: 100%;}
.thumb-box-inner p {color: #12263f; font-weight: 500; font-size: 20px;}
.thumb-box-inner .fe {font-size: 50px; color: #12263f;}
.thumb-box-inner {margin-bottom: 30px;  }
.thumb-box-inner a {justify-content: center; text-align: center; display: flex; flex-direction: column; align-items: center; background-color: #f9fbfd;  height: 300px; transition: all 0.3s ease-in-out; border: 1px solid #e3ebf6; padding: 30px;}
.thumb-box-inner a.link-thumb:hover {background-color: #e3ebf6; transition: all 0.3s ease-in-out; cursor: pointer;} 
.thumb-box-inner .select2-container--default .select2-selection--single .select2-selection__rendered {text-align: left;}

/* .thumb-box-inner .select2.select2-container {width: 150px !important; } */


.or-thumb {height: 100%; align-items: center; display: flex; justify-content: center;}
.or-thumb span {margin-bottom: 30px; font-weight: 500; font-size: 20px; color: #12263f;}

.select-option-div { width: 100%;}
.select-option-div p { font-size: 13px !important; }

.select2-container .select2-selection--single{height: 40px !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 20px !important;}
.select-multiple option:hover {background-color: #2C7BE5 !important;}
select {-webkit-appearance: none;-moz-appearance: none;appearance: none;}

.select2-selection__arrow {display: block !important; border-color: #d2ddec !important;} 
.select2-container--default .select2-selection--single .select2-selection__arrow {top: 6px !important; padding-right: 20px !important; height: 10px !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered {padding-left: 0 !important;}
.select2-container--default .select2-selection--single {border-color: #d2ddec !important;}
.select2-container--open .select2-selection--single {border-color: #2C7BE5 !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {border-color: #d2ddec transparent transparent transparent !important; border: 0 !important; font-family: Feather!important; position: relative; color: #6E84A3;}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {content: "\e92e";}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color:transparent transparent #d2ddec transparent  !important; }
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {content: "\e931" !important; }

.select2-dropdown--above {border: 1px solid #d2ddec !important;;border-bottom: none !important;  }
.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #2c7be5 !important; color: #ffffff !important;}
.select2-dropdown--below{ border: 1px solid#2c7be5 !important;; border-top: none !important;     }

.circle-red {height: 20px; width: 20px; background-color: red; display: inline-block; border-radius: 100px; border: 1px solid #12263f; position: relative; top: 5px;}
.recored-text h3 {color: #2c7be5;}

.border-bottom ul {border: 0;}

[class^='select2'] {
  border-radius: 0px !important;
  font-size: 13px;

}




.uploded-text {margin: 10px 0;}
.uploded-text h4 {color: #2c7be5;}

.publish-content h5 {font-size: 18px; margin-bottom: 30px; line-height: 26px;}

/* .publish-content-icon .publish-group span.fe {font-size: 40px;}
.publish-content-icon .publish-group a {display: flex; align-items: center; align-content: center; justify-content: center; text-align: center; flex-direction: column; color: #6E84A3; background-color: #edf2f9; border-radius: 4px; width: 100px } 
.publish-content-icon .publish-group a span {margin-right: 5px;} */

/* .publish-content-icon .publish-group { width: auto;  margin-right: 15px; display: flex; flex-direction: row;} */
.publish-content-icon { margin-bottom: 50px;}
.publish-content-icon ul li a span.fe {font-size: 40px;}
.publish-content-icon ul li a {display: flex; align-items: center; align-content: center; justify-content: center; flex-direction: column; width: 100px; height: 100px; color: #6E84A3; background-color: #fafafa; border-radius: 4px; text-align: center;}
.publish-content-icon ul li a:hover {background-color: #e3ebf6; transition: all 0.3s ease-in-out;}
.publish-content-icon ul li {display: inline-block; margin-right: 10px;}
.publish-content-icon ul {list-style: none; padding: 0; margin: 0;}




.social-media-icon  { margin-bottom: 50px;}
.social-media-icon ul li a i.fa {font-size: 40px; margin-bottom: 10px;}
.social-media-icon ul li a {display: flex; align-items: center; align-content: center; justify-content: center; flex-direction: column; width: 100px; height: 100px; color: #6E84A3; background-color: #fafafa; border-radius: 4px; text-align: center;}
.social-media-icon ul li  a:hover {background-color: #e3ebf6; transition: all 0.3s ease-in-out;}
.social-media-icon ul li {display: inline-block; margin-right: 10px;}
.social-media-icon ul {list-style: none; padding: 0; margin: 0;}
.social-media-icon ul li a p {margin-bottom: 0;}
.social-media-icon .media-group {margin-bottom: 15px;}


.modal-dialog .close {font-size: 40px; font-weight: 400;}






.get-started {height: 90vh; display: flex; justify-content: center; align-items: center; text-align: center;}
.text-started {padding: 20px;}
.text-started h1 {font-size: 50px; line-height: 65px;}
.text-started h1 span {display: block;}

.nav-link.active {background-color: #edf2f9;}

@media (min-width: 768px) {
  .navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
    border-right: 2px solid #2c7be5;
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
  }
}


@media (max-width: 767px) {

    /* mobile-navigation */
    
    #sidebarCollapse .d-md-none {display: none;}

    .col-custom {display: flex; width: 100%;}
    .card-listing h5 {padding: 10px 0 0 0; }

    .card-listing .btn-link {padding: 12px 0;}
    .modal-info p {padding-bottom: 15px;}
 
    .login-box {padding: 30px 15px; margin: 0 15px !important; }

    .modal-card .card-body {max-height: 100%;}

    .thumb-main {flex-direction: column;}
    .thumb-main .thumb-box a {width: 100%;}
    .thumb-main .or-div {padding: 30px;}

    .thumb-main .thumb-box-lg a {width: 100%; height: 300px;}

    .border-bottom ul {border-bottom: 1px solid #e3ebf6;}
    .border-bottom {border: 0; }
    .col-100 {width: 100%; margin: 10px 0;}
    .col-100 a {width: 100%;}


    .social-media-icon ul li {width: 46%; margin-bottom: 15px;}
    .social-media-icon ul li a {width: auto;}


    .publish-content-icon ul li {width: 29%; margin-bottom: 15px;}
    .publish-content-icon ul li a {width: auto;}
    .acord-card .content-tab .col-auto {width: 100%;}


    .text-started h1 {font-size: 25px;line-height: 36px;}
    .get-started {height: calc(100vh - 100px);}

 

}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1036px) 
  and (-webkit-min-device-pixel-ratio: 1) {



}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .thumb-main .thumb-box a {width: 180px; height: 180px;}
    .thumb-main .thumb-box-lg a {width: 205px; height: 250px;}

    .thumb-main .or-div {padding: 30px 0;}

    .thumb-box-inner .select2.select2-container {width: 150px !important;}
   
    .social-media-icon ul li a {width: auto;}
    .social-media-icon ul li {width: 45%; }
    
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px) {

    .thumb-main {flex-direction: column;}
    .thumb-main .thumb-box a {width: 100%;}
    .thumb-main .thumb-box-lg a {width: 100%; height: 300px;}


    .social-media-icon ul li a {width: auto;}
    .social-media-icon ul li {width: 22%;  }
    .social-media-icon ul li:last-child {margin-right: 0;}

    .modal-dialog {max-width: 750px;}
    .acord-card .content-tab .col-auto {width: 100%;}
    .col-custom {display: flex; width: 100%;}
    .col-custom .btn-link {padding-left: 0;}
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .social-media-icon ul li {width: 45%; margin-bottom: 15px;}
    .social-media-icon ul li a {width: auto;}
    .social-media-icon ul {padding-left: 10px; text-align: center;}


    .publish-content-icon ul li {width: 28%; margin-bottom: 15px;}
    .publish-content-icon ul li a {width: auto;}

}
@media (max-width: 320px){
  
  .social-media-icon ul li a {width: auto;}
  .social-media-icon ul li {width: 40%; }
  .social-media-icon ul {padding-left: 10px;text-align: center; }

  .publish-content-icon ul li {width: 28%; margin-bottom: 15px;}
  .publish-content-icon ul li a {width: auto;}

}


